{% extends "generic.html" %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/discussion.css' %}">
{% endblock %}

{% block js %}
   <script src="{% static 'js/debate.js' %}"></script> 
{% endblock %}

{% block content %}
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<div class="content" >
    <div class="container main-section">
        <div class="row">
            <div class="right-header">
                <div class="right-header-img">
                    <img src="{{discussion.img.url}}">
                </div>
                <div class="right-header-detail">
                <p>{{ discussion.title }} Tags: {% for tag in tagList %}<a onclick="return searchTag('{{tag}}')" href="">#{{tag}}</a></p>{% endfor %}
                </div>
            </div>
            <div class="right-header-contentChat" >
                <ul id="chat-log">
                    {% for message in chatList %}
                    <li>
                        {% if message.user == request.user %}
                        <div class="rightside-left-chat">
                        {% endif %}
                        {% if message.user != request.user %}
                        <div class="rightside-right-chat">
                        {% endif %}
                            <span><div style="float: left;"><img class="media-object img-circle" src="{{message.user.account.img.url}}" width="25px" height="25px"></div>{{message.user.username}}</span>
                            <br><br><p>{{message.message}}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-12 right-chat-textbox">
                <input id="chat-message-input" type="text"><a href="#"><i class="fa fa-arrow-right" aria-hidden="true" id="chat-message-submit"></i></a>
            </div>
             
        </div>             
    </div>
</div>
<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');
    var chatActive = true;

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
		var sender = data['username'];
		var avatarURL = data['avatar'];
		var messageItem = document.createElement("li");
		var messageNew = document.createElement("p");
		var messageBubble = document.createElement("div");
		var messageSpan = document.createElement("span");
		var messageAvatar = document.createElement("img");
		var avatarDiv = document.createElement("div");
		avatarDiv.setAttribute("style","float: left;");
		messageSpan.appendChild(avatarDiv);
		messageBubble.appendChild(messageSpan);
		messageSpan.appendChild(document.createTextNode(sender));
		avatarDiv.appendChild(messageAvatar);
		messageItem.appendChild(messageBubble);
		messageNew.appendChild(document.createTextNode(message));
		messageBubble.appendChild(document.createElement("br"))
		messageBubble.appendChild(document.createElement("br"))
		messageBubble.appendChild(messageNew);
		if(sender == "{{user.username}}") messageBubble.setAttribute("class","rightside-left-chat");
		else messageBubble.setAttribute("class","rightside-right-chat");
		messageAvatar.setAttribute("class","media-object img-circle");
		messageAvatar.setAttribute("src",avatarURL);
		messageAvatar.setAttribute("width","25px");
		messageAvatar.setAttribute("height","25px");
        document.querySelector('#chat-log').appendChild(messageItem);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
        chatActive = false;
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
			'debateId': "{{discussion.id}}",
        }));
        if(chatActive=true){
            $.ajax({
                url: '/discourz/ajax/new_message/',
                data: {
                    'id': "{{discussion.id}}",
                    'message':message,
                    'user':"{{request.user.username}}",
                },
                dataType: 'json',
            });
        messageInputDom.value = '';
        }

    };
</script>
{% endblock %}
<div class="content">
	<div class="col-md-12 right-chat-textbox">
		<textarea  id="chat-log" cols="100" rows="20"></textarea><br/>
	</div>
	<input id="chat-message-input" type="text" size="100"/><br/>
	<input id="chat-message-submit" type="button" value="Send"/>
</div>