{% extends "generic.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/poll_home.css' %}">
{% endblock %}

{% block content %}
<div class="content">

  <div class="content-box">
    <br />
    <span>
      <h2>Discussion</h2>
    </span>
    <span>
      {% if request.user.is_authenticated %}
      <a href="{% url 'discussion_create' %}" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus"></span> Create a new Discussion</a>
      {% else %}
      <a href="#" class="btn btn-success btn-sm">Please log in to create a new discussion.</a>
      {% endif %}
    </span>
    <br /><br />

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Most Recent</a></li>
    </ul>

    <div class="tab-content">

      <div id="home" class="tab-pane fade in active">
        <div class="row topic-row">
          {% for uuid,title,img,owner,tags in discussions %}
          <div class="col-sm-4">
            <a href='#poll' seq="{% url 'discussion' uuid %}" class="external_link">
              <div class="panel panel-primary">
                <div class="panel-heading">{{ title }}</div></a>
                <div class="panel-body"><img src="{{ img.url }}" class="topic_img" style="width:100%; height: 200px;"
                    alt="Image"></div>
                <div class="panel-footer">by {{ owner }} Tags: {% for tag in tags %} <a onclick="return searchTag('{{tag}}')" href="">#{{tag}}</a>{% endfor %}</div>
              </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>


</div>

{% endblock %}