{% extends "generic.html" %}

{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/debate.css' %}">
{% endblock %}

{% block js %}
   <script src="{% static 'js/debate.js' %}"></script> 
{% endblock %}

{% block content %}
    </div>

    <div class="content">
        <div class="right-header">
            <div class="right-header-img">
                <img src="avatar/man1.png">
            </div>
            <div class="right-header-detail">
              <p>{{ topic }} Tags: {% for tag in tags %} <a onclick="return searchTag('{{tag}}')" href="">#{{tag}}</a>{% endfor %}</p>
              <span>{{ user1 }} ({{user1votes}}) vs. {{ user2 }} ({{user2votes}})</span>
            </div>
        </div>
        <div class="right-header-contentChat">
              <ul id="chatLog">
              </ul>
          </div>
          <div class="right-chat-vote">
              <p> Vote  {{ user1 }} or Vote {{user2}} </p>
              <form method='post' enctype="multipart/form-data" nonvalidate>
                <input type='text' name ='vote' value='1: {{user1}}' readonly> </input>
                <input name="Vote {{user1}}" value='Vote!' type="Submit"></input>
              </form>
              <form method='post' enctype="multipart/form-data" nonvalidate>
                <input type='text' name='vote' value='2: {{user2}}'> </input>
                <input name="Vote {{user2}}" value='Vote!' type="Submit"></input>
              </form>
            </div>
        {% for comment in CommentList %}
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="media-body">
							<img src="{{comment.user.account.img.url}}" style=" width: 6%; height: 10%;">
							<span style="">{{comment.text}}</span>
							<p>{{comment.user.username}} at {{comment.date}}</p>
						</div>
					</div>
				</div>
      {% endfor %}
      <div>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.text}}
            <input type="text" name="PollId" maxlength="100" class="form-control" required id="id_PollId" value = "{{uuid}}" style="display: none">
            <button type="submit" class="btn btn-success pull-right"> Share</button>
          </form>
        </div>
      

      
    </div>

    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>

    <script>
      var config = {
          apiKey: "AIzaSyA9lbW5XP5p-HIX-DTnHqhFfuVvHIX8a98",
          authDomain: "discourz-debate.firebaseapp.com",
          databaseURL: "https://discourz-debate.firebaseio.com",
          projectId: "discourz-debate",
          storageBucket: "discourz-debate.appspot.com",
          messagingSenderId: "850312774074"
      };
      firebase.initializeApp(config);
      var rootRef = firebase.database();
      var chatLog = rootRef.ref('{{firebaseKey}}/chats/');
      chatLog.orderByKey().on("value", (snapshot)=> {
        snapshot.forEach(function(message) {
          messageArray = seperateMessage(message.val());
          var messageItem = document.createElement("li");
          var messageIcon = document.createElement("i");
		      var messageNew = document.createElement("p");
		      var messageBubble = document.createElement("div");
          var messageSpan = document.createElement("span");
          messageBubble.appendChild(messageSpan);
          messageSpan.appendChild(messageIcon);
          messageBubble.appendChild(document.createElement("br"));
          messageBubble.appendChild(document.createElement("br"));
          messageSpan.appendChild(document.createTextNode(messageArray[0]));
          messageNew.appendChild(document.createTextNode(messageArray[1]));
          messageBubble.appendChild(messageNew);
          messageItem.appendChild(messageBubble);
          if(messageArray[0] == "{{user1}}") messageBubble.setAttribute("class","rightside-left-chat");
          else messageBubble.setAttribute("class","rightside-right-chat");
          messageIcon.setAttribute("class","fa fa-circle");
          document.querySelector('#chatLog').appendChild(messageItem);
        });
      });
      function seperateMessage(message){
        for(i =0; i<message.length;i++){
          if(message[i] == ":"){
            var username = message.slice(0,i);
            var content = message.slice(i+1,message.length);
            var messageArray = [username,content];
            return messageArray 
          } 
        }
      }

    </script>
{% endblock %}